.item-list {
  border-radius: var(--radius-1);
  border: 0.063rem solid var(--color-grey-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem;
  height: 2.625rem;
}


